.classpath
.project
.settings/
*/.classpath
*/.gitignore
*/.project
*/.settings/
bin/
*/bin/
target/
*/target/
*~
*.bak
.iml
*/.idea/
.idea/*
*.iml
*/*.iml
maven-local.properties
/.idea/
/node_modules/
#/SUMMARY.md
/_book/
